{
  "root": true,
  "env": {
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["import", "@typescript-eslint", "jest", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-typescript/base",
    "plugin:jest/recommended",
    "prettier"
  ],
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "rules": {
    "import/no-cycle": 0,
    "import/prefer-default-export": 0,
    "no-underscore-dangle": 0,
    // "quotes": [2, "single", "avoid-escape"],
    "no-inline-comments": 2,
    "no-magic-numbers": [2, { "ignore": [-1, 0, 1] }],
    // "comma-dangle": [2, "always-multiline"],
    "sort-keys": [2],
    "@typescript-eslint/explicit-member-accessibility": 2,
    "@typescript-eslint/member-ordering": 2,
    "@typescript-eslint/no-inferrable-types": 0,
    "@typescript-eslint/lines-between-class-members": 0,
    "prettier/prettier": "error",
    "@typescript-eslint/no-unused-vars": "warning"
  },
  "overrides": [
    {
      "files": ["*.test.ts"],
      "rules": {
        "no-magic-numbers": 0
      }
    }
  ]
}
